
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


/*--------------------------------------------------------------*/
.main {
    
    /* background: linear-gradient(40deg, #414142 55%, #6b6b6b );  */
    background: linear-gradient(40deg, #8e8e8f 55%, #ebeaea ); 
    
    
}
.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:center;
    flex-wrap: wrap;
}
.man-in-bicycle{
    display:flex;
    justify-content:center
}

img.cat {
	box-sizing: border-box;
	 height: auto;
	
	margin: 4rem 0 0 0;
	padding: 10%; 
	background: white;
	border: 8px solid #333;
	
}
.intro {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 5px 15px 15px;
    font-size: 2rem;
    font-weight: bold;
}

p {
    line-height: 26pt;
    margin-block-start: 0;
    margin-block-end: 0;
}
/*-------------------------------*/



/* @media ( min-width: 567px) {
   
    .main-container {
        
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* .intro {
        display: flex;
        align-self: center;
        justify-content: center;
        grid-area: intro;
        color: white;
        text-align: center;
        padding: 15px 80px 15px 15px;
        font-size: 2rem;
        font-weight: bold;   
    }
     */
   

