:root {
    /* --header-height-mobile: 334px; */
    --header-height-567px: 200.4px;
    --footer-height-mobile: 80px;
}
.footer {
    display: grid;
  
   

}
.footer-container {
    display: grid;
    width: 100%;
    /* height: var(--footer-height-mobile); */
    background: linear-gradient(40deg,#F0AB35 55%, #FFB638 ); 
    grid-template-columns: 70%, 10%, 10%, 10% ;
    grid-template-rows: 60%, 40%;
    grid-template-areas: "medellin insta soundCloud plays "
                          "david insta soundCloud plays";
}
.medellin {
    grid-area: medellin;
    align-items: center;
}
.david  {
    grid-area: david;
    text-align: center;
}
.insta {
    grid-area: insta;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;;
    
}
.insta img {
    height: 60px;
   
}
.plays { 
    grid-area: plays;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.plays img {
    max-height: 60px;
}
.soundCloud { 
    grid-area: soundCloud;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.soundCloud img {
    max-height: 60px;
}
.footer-container .david {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}
.footer-container .medellin {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}
@media ( min-width: 567px) {
    .hero {
        display: grid;
        grid-template-columns: minmax(320px, 100%);
        height: var(--header-height-567px);   
    }
    .hero-container {
        
        grid-template-columns: 50% 50% ;
       
        height: var(--header-height-567px);
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: "firma home " 
                            " firma  cams"
                            "firma info"
                            "firma envelope "
                            
                           ;                      
    }
   
    
    .info img {
        width:45px;
        height: 100%;
        padding: 6px 0 4px 0;
        
        
    }
    
    .envelope img {
        max-width: 33%;
        
        padding: 10px 0 6px 0;
    } 
}
@media ( min-width: 1015px) {
     .hero-container {
        
        grid-template-columns: 60% 20% 20% ;
       
        height: var(--header-height-567px);
        grid-template-rows: 50% 50%;
        grid-template-areas: "firma home cams " 
                            " firma  info envelope"
                           ;                      
    }
    .info img {
        width: 70px;
        padding: 15px 0 15px 0;
      
    }
    
    .envelope img {
        width:  80px;
        
        padding: 20px 0 20px 0;
    }
    .home img {
        padding: 8px 0 8px 0;
        }
    .cams img {
        padding: 10px 0 10px 0;
    }    
}
@media ( min-width: 1275px) {
    .hero-container {
       
       grid-template-columns: 60% 10% 10% 10% 10% ;
      
       height: var(--header-height-567px);
       grid-template-rows: 100%;
       grid-template-areas: "firma home cams info envelope " 
                          ;                      
   }
   .home{
    min-height: 200.4px;
    padding-top: 50px;
   }
   .home img {
    max-width: 82.5px;
    height: 97.2px;
   }
   .cams{
       min-height: 200.4px;
       padding-top: 50px;
   }
   .cams img {
    max-width: 82.5px;
    height: 97.2px;
   }
   .info{
    min-height: 200.4px;
    padding-top: 53px;
   }
   .info img {
    width: 78px;
    height: 95px;
   }
   .envelope{
    min-height: 200.4px;
    padding-top: 55px;
   }
   .envelope img {
    max-width: 82.5px;
    height: 95px;
   }
     
}